<%= form_with(model: @micropost, local: true) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
  <span class="image">
    <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
  </span>
<% end %>

<script type="text/javascript">
// 画像ファイルのサイズチェック
// 画像ファイルのサイズは1MB以下とする
var filesizelimit = 1024 * 1024 * 1;

// input要素を指定
var inputfile = document.getElementById("micropost_image");

// changeイベントで呼び出す関数
var handleFileSelect = () => {
  var inputfilesize = inputfile.files;
  for (let i = 0; i < inputfilesize.length; i++) {

    // 画像ファイルサイズが制限を超える場合
    if (inputfilesize[i].size > filesizelimit) {

      // エラーメッセージを表示
      alert('ファイルサイズは1MB以下にしてください');

      // inputの中身をリセット
      inputfile.value = '';

      // 処理を終了
      return;
    }
  }
}

// ファイル選択時にhandleFileSelectを実行
inputfile.addEventListener("change", handleFileSelect);
</script>